article{
    padding: 150px 0;
    width: 100%;
    height: auto;
    min-height: 750px;
    background: #2aabd2;
}
.update-password-wrap{
    width: 600px;
    height: 260px;
    background: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}
.update-password-wrap button{
    width: 280px;
}