body{
    background-color: #2aabd2;
}
article{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
}
.common{
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
    color: black;
    border-radius: 10px;
    background-color: whitesmoke;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}